<% @title = @user.nickname %>
<% @current = 'top' %>

<%= render partial: 'user_tab' %>
<%= render partial: 'user_info' %>

<h4 class="user-show-title">最新の投稿</h4>
<%= render partial: 'user_show_posts' %>
