@import "bootstrap";
@import "reset";

/**************/
/*   Colors   */
/**************/

$text-gray: #474747;

$my-light-gray: #8a969c;
$my-off-white: #F6F2E9;
$my-charcoal: #dbd7cb;
$my-orange: #f8b967;
$my-dark-green: #339999;

// genre color
$novel-color: #f59948;
$business-color: #9370DB;
$education-color: #05d1df;
$art_ent-color: #F08080;
$celebrity-color: #3CB371;
$hobby-color: #008BBB;
$geography-color: #66CDAA;
$child-color: #DAA520;
$others-color: #5e5e5e;

.like-red { color: #FF6666;}

/*************/
/* universal */
/*************/

div#wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 82px;
  box-sizing: border-box;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/**************/
/* typography */
/**************/

//要検討
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background-color: #e9e9e9;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $text-gray;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  text-align: center;
  span {
    font-size: 26px;
    vertical-align: 20%;
    padding-right: 2px;
    color: $my-dark-green;
  }
}

h2 {
  font-size:2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
}


p {
  margin: 0;
  line-height: 1.7em;
}

em { font-style: normal }

/*************/
/*  header  */
/************/

header {
  width: 100%;
    nav {
      margin: 0 auto;
      .logo {
        font-size: 1.8em;
        letter-spacing: 2px;
      }
      div {
        ul {
          li {
            padding-right: 2em;
            i {
              padding-right: 2px;
            }
          }
        }
    }
  }
}

@media screen and (max-width: 1199px) {
  header {
      nav {
        .logo {
          font-size: 1.8em;
          letter-spacing: 2px;
        }
        div {
          ul {
            li {
              padding-right: 1.6em;
              i {
                padding-right: 2px;
              }
              .guest-login {
                display: inline-block;
                color: #fff;
              }
            }
          }
      }
    }
  }
}



/**************/
/*    tabs    */
/**************/

.fluid-box {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  .tabs {
    margin: 0 auto 2em;
    padding: 2px 0;
    max-width: 830px;
    justify-content: center;
    list-style: none;
    span {
      font-size: 18px;
      margin: .7em 0;
      padding:  0;
      font-weight: 400;
    }
    li {
      font-size: 16px;
      margin: .7em 0;
      float: left;
      text-align: center;
      // box-shadow: 0 0 10px rgba(0,0,0,0.15);
      a {
        color: $text-gray;
        display: block;
        padding: .2em .7em;
        text-decoration: none;
        margin: 0 .6em;
        // border: 2px solid rgb(124, 124, 124);
        border-radius: 2px;
        &:hover {
          color: #fff;
          background: $my-dark-green;
          // border: 2px solid  #2499cf;
        }
        &.current {
          color: #fff;
          background: $my-dark-green;
          // border: 2px solid  #2499cf;
        }
      }
    }
  }

}

/***********/
/*  flash  */
/***********/

.notice {
  padding: 0.6rem 0.4rem;
  margin-bottom: 0;
  text-align: center;
  color: rgba(69, 165, 56, 0.918);;
  background-color: #a2db9683;
  border: 1px solid rgba(64, 221, 59, 0.733);
  border-radius: 0;

}
.alert {
  padding: 0.6rem 0.4rem;
  margin-bottom: 0;
  text-align: center;
  color: rgba(206, 96, 69, 0.918);;
  background-color: #f3a5a583;
  border: 1px solid rgba(221, 59, 59, 0.733);
  border-radius: 0;
}

/*************/
/* container */
/*************/

#container {
  padding: 0 0 2em;
}

#container > h1 {
  margin-top: 1em;
}

/**********/
/*  form  */
/**********/

  .form-container {
    background: #fff;
    padding: 2em 3em;
    max-width: 600px;
    margin: 2em auto 0;
    box-shadow: 0 0 0.5em #c0c0c0;
    border-radius: 2px;
    .guest-login {
      text-align: center;
      margin-top: 1.5em;
      margin-bottom: 1em;
      a {
        width: 50%;
      }
    }
    h1 {
      font-size:1.8em;
      color:darken(#e5e5e5, 56%);
      margin-bottom: .9em;
    }
    #error_explanation {
      h2 {
        margin-bottom: 1em;
        font-size: 1em;
        padding: 0.6rem 0.4rem;
        color: rgba(206, 96, 69, 0.918);;
        background-color: #f3a5a583;
        border: 1px solid rgba(221, 59, 59, 0.733);
        border-radius: 0.25rem;
      }
      ul {
        li {
          margin-left: 1em;;
          font-size: 1em;
          color: #f33;
        }
      }
    }
    p {
      font-size: 0.9em;
      color: rgb(112, 112, 112);
    }
    hr {
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: #e5e5e5;
    }
    .button {
      margin: 8px 0;
    }
    form {
      div {
        color: rgb(133, 131, 131);
        &.field {
          margin-bottom: 1.1em;
        }
        input, select, textarea {
          display: block;
          box-sizing: border-box;
          width: 100%;
          outline: none;
          margin:0;
         }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="date"],
        select,
        textarea {
          background: #fff;
          border: 1px solid #dbdbdb;
          font-size: 1em;
          letter-spacing: 0.04em;
          padding: .2em .5em;
          border-radius: 2px;
          color: #444;
        }
        input[type="date"] {
          color: #555;
          width: 50%;
        }
        select {
          color: #555;
          background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
          background-position:
            calc(100% - 20px) calc(1em),
            calc(100% - 15px) calc(1em),
            calc(100% - 2.5em) 0.5em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1em;
          background-repeat: no-repeat;
        }
        textarea {
          font-size: 0.8em;
          color: #555;
          letter-spacing: 0;
          height: 11em;
        }
        // input[type="text"]:focus,
        // input[type="email"]:focus,
        // input[type="password"]:focus {
        // background: whitesmoke;
        // }
        input[type="submit"] {
          width: 50%;
          display: block;
          //font-size: 1.1em;
          //line-height: 1em;
          margin:1.7em auto 1em;
          outline: none;
          //padding: .7em 0;
          //text-shadow: 0 0.5px #57a04b;
        }
        input[type="checkbox"] {
          display: inline-block;
          width: 1em;
        }
        label{
          margin-bottom: 0;
          font-size: 14.5px;
          padding: 0.5px 3px;
          font-weight: 400;
          background-color: rgba(255,255,255,0);
          @include transition(color .3s, top .3s, background-color .8s);
          &.floatLabel{
            top: -11px;
            background-color: rgba(255,255,255,0.8);
            font-size: 14px;
          }
        }
        small {
          padding-left: .5em;
          color: #65b7d3;
          &.red {
            color: red;
            font-weight: bold;
          }
        }
        p {
          &.post-img {
            img {
              margin: .5em 0;
              height: 180px;
              width: auto;
            }
          }
          img {
            margin: .5em 0;
            width: 120px;
            height: 120px;
          }
        }
      }
      &.button_to {
        font-size: 1em;
        border-radius: 0.25rem;
        border: 1px solid #cc4a4a;
        line-height: 1.5;
        color: #fff;
        width: 50%;
        margin: 0 auto 1em;
        display: block;
        text-align: center;
        input {
          padding: 0.375rem 0.75rem;
          background-color: #cc4a4a;
          width: 100%;
          transition: background-color 0.2s;
          &:hover {
            background-color: #b13232;
          }
        }
      }
    }
    .delete-button {
      font-size: 1em;
        border-radius: 0.25rem;
        border: 1px solid #cc4a4a;
        line-height: 1.5;
        width: 50%;
        margin: 0 auto 1em;
        display: block;
        text-align: center;
      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 0.375rem 0.75rem;
          background-color: #cc4a4a;
          width: 100%;
          transition: background-color 0.2s;
          &:hover {
            background-color: #b13232;
          }
      }
    }
  }


/***************/
/* Users index */
/***************/

.users {
  margin: 1.5em auto;
  list-style: none;
  max-width: 1050px;
  li {
    padding-right: 8px;
    padding-left: 8px;
    background-color: transparent;
    .user-container {
      color: rgb(112, 112, 112);
      padding: 0.8em 0.7em;
      margin: 0.6em 0;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.25);
      position: relative;
      transition: all 0.3s ease 0s;
      z-index: 1;
      pointer-events: none;
      &:hover {
        box-shadow: 0 3px 15px rgba(0,0,0,0.45);
          transform: translateY(-0.1875em);
      }
      img {
        width: 75px;
        height: 75px;
      }
      a {
        position: absolute;
        top: 0px;
        left: 0px;
        height:100%;
        width: 100%;
        text-decoration: none;
        text-indent:-9999px;
        z-index: 2;
        pointer-events: auto;
      }
      .nickname {
        position: absolute;
        top: 10px; 
        left: 100px;
        font-size: 1.2em;
        color: #2499cf;
      }
      .follow {
        position: absolute;
        bottom: 30px;
        left: 100px;
        font-size: 0.95em;
        span {
          font-size: 1.1em;
          font-weight: 400;
          &.pad-r10 {
            padding-right: 10px;
          }
        }
      }
      .post {
        position: absolute;
        bottom: 8px;
        left: 100px;
        font-size: 0.95em;
        span {
          font-size: 1.1em;
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .users {
    li {
      .user-container {
        margin: 0.4em 0;
        padding: 0.4em;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }
      p {
        //display: inline-block;
        font-size: 0.8em;
      }
    }
  }
}

/***************/
/* Posts index */
/***************/

.posts {
  margin: 1.5em 0;
  list-style: none;
  li {
    font-size: 1.1em;
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(80, 80, 80);
    // width: 220px;
    .post-container {
      // padding-top: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.15);
      background-color: #fff;
      text-align: right;
      .post-field {
        padding-top: 12px;
        background-color: rgb(243, 243, 243);
        position: relative;
        transition: all 0.3s ease 0s;
        z-index: 1;
        pointer-events: none;
        font-weight: 600;
        pointer-events : none;
        transition : all 0.3s ease-in-out;
        &:hover {
          background-color: $my-charcoal;

        }
        .title {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: .6em .5em;
        }
        a {
        position: absolute;
        top: 0px;
        left: 0px;
        height:100%;
        width: 100%;
        text-decoration: none;
        text-indent:-99999px;
        z-index: 2;
        pointer-events: auto;
        
        }
        .post-img {
          text-align: center;
          margin: 0 auto;
          position: relative;
          width: 200px;
          height: 200px;
          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: auto;
            width: auto;
            max-height: 100%;
            margin: auto;
          }
        }
        p {
          text-align: center;
        }
      }
      .middle-field {
        margin-top: 11px;
        margin-bottom: 5px;
        .genre-label {
          float: left;
          font-size: 14px;
          text-align: center;
          width: 80px;
          p {
            line-height: 1.6em;
            &.novel {
              border: 2px solid $novel-color;
              background-color: $novel-color;
              color: #fff;
            }
            &.business {
              border: 2px solid $business-color;
              background-color: $business-color;
              color: #fff;
            }
            &.education {
              border: 2px solid $education-color;
              background-color: $education-color;
              color: #fff;
            }
            &.art_ent {
              border: 2px solid $art_ent-color;
              background-color: $art_ent-color;
              color: #fff;
            }
            &.celebrity {
              border: 2px solid $celebrity-color;
              background-color: $celebrity-color;
              color: #fff;
            }
            &.hobby {
              border: 2px solid $hobby-color;
              background-color: $hobby-color;
              color: #fff;
            }
            &.geography {
              border: 2px solid $geography-color;
              background-color: $geography-color;
              color: #fff;
            }
            &.child {
              border: 2px solid $child-color;
              background-color: $child-color;
              color: #fff;
            }
            &.others {
              border: 2px solid $others-color;
              background-color: $others-color;
              color: #fff;
            }
          }
        }
        .comment-icon {
          display: inline-block;
          padding-right: 12px;
          color: rgb(143, 143, 143);
          span {
            font-size: 18px;
            font-weight: 600;
          }
          .comment-size {
            font-size: 1.1em;
          }
        }
      }
      .bottom-field {
        // border: 1px solid rgb(161, 50, 50);
        margin-top: .2em;
        margin-bottom: 2em;
        padding-bottom: 5px;
        padding-right: 5px;
        text-align: right;
        letter-spacing: 0.05em;
        p {
          display: inline-block;
          a {
            color: #2499cf;
            text-decoration: none;
            transition: color 0.2s;
            &:hover {
              color : #e0714f;
            }
          }
        }
        .user_small_img {
          img {
            margin: 2px;
          }
        }
      }
    }
  }
}

/*******************/
/* .user_small_img */
/*******************/

.user_small_img {
  img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid rgba(204, 204, 204, 0.555);
  }
}


/***************/
/* いいねボタン*/
/***************/

.like {
  display: inline-block;
  text-align: right;
  padding-right: 6px;
  .fa-heart {
    &:hover {
      opacity: 0.7;
      transition: 0.15s;
    }
    vertical-align: text-top;
    span {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
.like-size {
  font-size: 1.3em;
}

/**************/
/* Users show */
/**************/

.user-show-info {
  margin: .7em auto;
  max-width: 830px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  padding: .8em 1.8em 1.8em;
  font-size: 18px;
  .user-image, .default-user-image {
    margin-top: 1em;
    img {
      width: 175px;
      height: 175px;
    }
  }
  a {
    text-decoration: none;
  }
  .user-right {
    padding-left: 3em;
    .button {
      text-align: right;
    }
    .follow {
      margin-bottom: 1.2em;
      #follow_users {
        padding-right: 1.5em;
      }
      #follow_users, #follower_users {
        display: inline-block;
        a {
          color: #2499cf;
          transition: color 0.1s;
          &:hover {
            color : #e0714f;
          }
        }
      }
    }
    .post_like {
      a {
        margin-bottom: .2em;
        color: rgb(80, 80, 80);
        position: relative;
        display: inline-block;
        &::after {
          position: absolute;
          bottom: -1px;
          left: 0;
          content: '';
          width: 100%;
          height: 1px;
          background: rgb(80, 80, 80);
          transform: scale(0, 1);
          transform-origin: right top;
          transition: transform .4s;
        }
        &:hover::after {
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }
    }
    h4 {
      font-size: 25px;
      margin-bottom: 0.7em;
    }
  }
}


.user-show-title {
  margin: 1.5em auto 1em;
  max-width: 830px;
  padding-left: .8em;
  font-size: 26px;
  span {
    font-size: 20px;
    vertical-align: 20%;
    color: $my-dark-green;
  }
}

.user-show-posts {
  margin: 1em auto;
  max-width: 830px;
}

.user-show-users {
  margin: 1em auto;
  max-width: 830px;
}


/**************/
/* posts#show */
/**************/

.post-wrapper {
  max-width: 760px;
  margin: 1.8em auto;
  .user-field {
    margin: 0;
    padding-right: 5px;
    text-align: right;
    font-size: 20px;
    p {
      display: inline-block;
      a {
        color: #2499cf;
        text-decoration: none;
        transition: color 0.2s;
        &:hover {
          color : #e0714f;
        }
      }
    }
    .user_small_img {
      img {
        margin-left: 5px;
      }
    }
  }
  .edit {
    text-align: right;
    margin-bottom: -15px;
    z-index: 1;
    a {
      margin-right: .5em;
    }
  }
  .post-title {
    h2 {
      font-size:1.4em;
      line-height: 1.1em;
      margin: 0;
    }
    .title-top {
      font-size: 14px;
      text-align: center;
      color: #6e6e6e;
    }
  }
  .post-show-like {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
  }
  .liked_users {
    text-align: right;
    margin: 0 0 1.2em;
    a {
      text-decoration: none;
      color: #464a7a;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
        color : #e0714f;
      }
    }
  }
  .post-image {
    // box-shadow: 0 0 15px rgba(0,0,0,0.10);
    text-align: center;
    padding: 10px;
    // background-color: #f1f1f1;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 255px;
    height: 255px;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      width: auto;
      max-height: 95%;
      margin: auto;
    }
  }
  .post-info {
    margin-top: .5em;
    padding-left: 1.5em;
    border-collapse: separate;
    width: 100%;
    tr {
      line-height: 1.15em;
    }
    th {
      font-size: 14px;
      font-weight: 500;
      color: #6e6e6e;
      width: 20%;
      padding-bottom: 18px;
      text-align: right;

    }
    td {
      padding-left: 15px;
      padding-bottom: 18px;
      // line-height: 2.4em;
      font-size: 17px;
      width: 80%;
    }

    // span {
    //   font-size: 12.5px;
    //   color: #6e6e6e;
    //   display: inline-block;
    //   padding-left: 1.1em;
    //   width: 155px;
    // }
  }

  .post-content-container {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 2.5px #acacac;;
    border-radius: 8px;
    min-height: 50px;
    .post-content-top {
      position: absolute;
      display: inline-block;
      top: -13px;
      left: 10px;
      padding: 0 9px;
      font-size: 13px;
      color: #6e6e6e;
      background-color: #ecececfd;
    }
    .post-content {
      font-size: 14.5px;
      padding: .5em .5em;
    }
  }
}

.show-liked-users {
  max-width: 850px;
  margin: 0 auto;
  .post-field {
    margin-top: 3em;
    .user_small_img {
      display: inline-block;
      img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 1px solid rgba(204, 204, 204, 0.555);
      }
    }
    p.user-name {
      display: inline-block;
      a {
        color: #2499cf;
        text-decoration: none;
        transition: color 0.2s;
        &:hover {
          color : #e0714f;
        }
      }
    }
    h5, p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .post-image {
      text-align: center;
      // padding: 10px;
      text-align: center;
      position: relative;
      width: 220px;
      height: 220px;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: auto;
        max-height: 95%;
      }
    }
    h5 {
      font-size: 18px;
      margin-top: .8em;
      margin-bottom: 0;
    }
    .author {
      font-size: 15px;
      margin-bottom: .5em;
    }
  }
  .liked-users-field {
    padding-left: 2em;
    h4 {
      padding-left: 1em;
    }
  }
}

/****************/
/* genre-button */
/****************/

.genre-button{
  margin: 1.8em auto 1em;
  padding: 0 1em;
  // max-width: 830px;
    justify-content: space-between;
    list-style: none;
    li {
      width: 90px;
      font-size: 15px;
      margin-bottom: 1em;
      float: left;
      text-align: center;
      // background-color: #fff;
      // box-shadow: 0 0 10px rgba(0,0,0,0.15);
      a {
        display: block;
        // border-radius: 100vh;
        position: relative;
        &.current::after {
          position: absolute;
          content: " ";
          display: block;
          border-bottom: solid 2px $my-orange;
          bottom: -7px;
          left: 25%;
          width: 50%;
        }
        &.all {
          color: $others-color;
          border: solid 2px $others-color;
          &:hover {
            color: #fff;
            background: $others-color;
          }
          &.current {
            color: #fff;
            background: $others-color;
          }
        }
        &.novel {
          color: $novel-color;
          border: solid 2px $novel-color;
          &:hover {
            color: #fff;
            background: $novel-color;
          }
          &.current {
            color: #fff;
            background: $novel-color;
          }
        }
        &.business {
          color: $business-color;
          border: solid 2px $business-color;
          &:hover {
            color: #fff;
            background: $business-color;
          }
          &.current {
            color: #fff;
            background: $business-color;
          }
        }
        &.education {
          color: $education-color;
          border: solid 2px $education-color;
          &:hover {
            color: #fff;
            background: $education-color
          }
          &.current {
            color: #fff;
            background: $education-color;
          }
        }
        &.art_ent {
          color: $art_ent-color;
          border: solid 2px $art_ent-color;
          &:hover {
            color: #fff;
            background: $art_ent-color;
          }
          &.current {
            color: #fff;
            background: $art_ent-color;
          }
        }
        &.celebrity {
          color: $celebrity-color;
          border: solid 2px $celebrity-color;
          &:hover {
            color: #fff;
            background: $celebrity-color;
          }
          &.current {
            color: #fff;
            background: $celebrity-color;
          }
        }
        &.hobby {
          color: $hobby-color;
          border: solid 2px $hobby-color;
          &:hover {
            color: #fff;
            background: $hobby-color;
          }
          &.current {
            color: #fff;
            background: $hobby-color;
          }
        }
        &.geography {
          color: $geography-color;
          border: solid 2px $geography-color;
          &:hover {
            color: #fff;
            background: $geography-color;
          }
          &.current {
            color: #fff;
            background: $geography-color;
          }
        }
        &.child {
          color: $child-color;
          border: solid 2px $child-color;
          &:hover {
            color: #fff;
            background: $child-color;
          }
          &.current {
            color: #fff;
            background: $child-color;
          }
        }
        &.others {
          color: $others-color;
          border: solid 2px $others-color;
          &:hover {
            color: #fff;
            background: $others-color;
          }
          &.current {
            color: #fff;
            background: $others-color;
          }
        }
      }
  }
}


/****************/
/*    Search    */
/****************/

.user_search, .post_search {
  margin: 1.5em auto 0;
}
.search-form {
  box-shadow: 0 0 8px rgba(0,0,0,0.10);
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  padding: 0px 18px 4px;
  // color: #474747;
  font-size: 1em;
  border-radius: 20px;
  height: 2.1em;
  width: 285px;
  // border: 1px solid #444d53;
  background: #fff;
  overflow: hidden;
  input[type="text"] {
    border: none;
    height: 2.0em;
    width: 180px;
    &:focus {
      outline:0;
    }
  }
  button {
    border: none;
    background: #444d53;
    color: #fff;
    position: absolute;
    width: 4.8em;
    height: 3.0em;
    right:0px;
    top: -8px;
    outline : none;
  }
}



/************/
/* Comments */
/************/

.comment-wrapper {
  color: #444;
  max-width: 700px;
  margin: 1.8em auto;
  h2 {
    font-size:1.3em;
    margin: 0;
  }
  #comments_area {
    h3 {
      font-size: 1.1em;
    }
    h4 {
      margin-top: .4em;
      font-size: 1em;
    }
    .more {
      i {
        padding-right: 2px;
      }
      display: inline-block;
      font-size: .9em;
      color: #a7a7a7;
      padding-top: 10px;
      padding-left: 20px;
      &:hover {
        color: #5e5e5e;
      }
    }
    .comment-container {
      box-shadow: 0 0 0.7em #c0c0c0;
      background-color: white;
      // border: 1px solid #666;
      padding: .7em .2em 0.2em;
      margin: 1em 0;
      .comment-left {
        padding: 0;
        p {
          text-align: center;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 1px solid rgba(204, 204, 204, 0.555);
          }
          a {
            color: #2499cf;
            text-decoration: none;
            transition: color 0.2s;
            &:hover { 
              color : #e0714f;
            }
          }
        }
      }
      .comment-right {
        position: relative;
        font-size: 15px;
        div {
          margin-bottom: 2.3em;
        }
        .btn {
          position: absolute;
          bottom: .1em;
          right: 140px;
        }
        .comment-date {
          position: absolute;
          right: .5em;
          bottom: .1em;
          color: #8b8b8b;
        }
      }
    }
  }
  .comment-form {
    h2 {
      margin: 1.3em 0 .8em;
    }
    textarea {
      font-size: 14px;
      background-color: white;
      display: block;
      box-sizing: border-box;
      width: 100%;
      outline: none;
      margin:0;
      border: 1px solid #dbdbdb;
      padding: .2em .5em;
      border-radius: 2px;
      color: #444;
      height: 7em;
    }
    .actions {
      width: 50%;
      text-align: center;
      margin: .5em auto;
    }
    .btn {
     width: 70%;
    }
    #error_explanation{
      ul {
        list-style: none;
        li {
         color: red;
        }
      }
    }
  }
}

/*****************/
/* Notifications */
/*****************/

.notifications-container {
  background: #fff;
  padding: 2em 3em;
  max-width: 600px;
  margin: 2em auto 0;
  box-shadow: 0 0 0.5em #c0c0c0;
  border-radius: 2px;
  color: #474747;
  .fa-trash {
    color: #555;
  }
  a {
    color: #2499cf;
    text-decoration: none;
    transition: color 0.2s;
    &:hover {
      color : #e0714f;
    }
  }
  .user_small_img {
    display: inline-block;
    
  }
  .comment-text {
    color: #8f8f8f;
    font-size: 15px;
    padding: 0 80px;
  }
  .action_ago {
    text-align: right;
    font-size: 14px;
    font-weight: bolder;
    color: #6d6d6d;
  }
}

.nav-notification {
  position: relative;
  .fa-circle {
    color: #fcd175e0;
    position: absolute;
    top: 2px;
  }
}

@media screen and (max-width: 991px) {
  .nav-notification {
    .fa-circle {
      left: -9px;
    }
  }
}



/**************/
/* pagination */
/**************/

.pagination {
  margin-top: 1em;
  justify-content: center;
  .page-item {
    padding-right: 6px;
  }
  >.page-item>.page-link {
    border: none;
    color: rgb(112, 112, 112);
  }
  >.page-item>.page-link:hover {
    color: rgb(15, 15, 15);
    background-color: $my-light-gray;
  }
  >.active>.page-link {
    background-color: $my-dark-green;
    color: white;
  }
  >.active>.page-link:hover {
    background-color: $my-dark-green;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .pagination {
    .page-item {
      padding-right: 2px;
      .page-link {
        padding: 0.4rem 0.6rem;
      }
    }
  }
}



/************/
/*  footer  */
/************/


footer {
  padding: 10px 0 15px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  .logo {
    display: inline-block;
    color: white;
    font-size: 1.4em;
    letter-spacing: .05em;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
  p {
    color: white;
    vertical-align: middle;
    font-weight: lighter;
    font-size: 0.9em;
  }
}

/***********/
/*  debug  */
/***********/

.debug_dump {
  clear: both;
  box-sizing: border-box;
  margin: 45px auto 0;
  width: 90%;
  padding: 1.5em 1.5em;
  background-color: whitesmoke;
  color: #474747;
  font-weight: 600;
  border: solid 1px silver;
  border-radius: 5px;
}