@import "bootstrap";

@import "reset";

$button: rgba(156, 206, 94, 0.78);

/* universal */

div#wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 50px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

//要検討
body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background-color: #f2f2f2;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #474747;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size:2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
}


p {
  margin: 0;
  line-height: 1.7em;
}

em { font-style: normal }

/* header */

header {
  width: 100%;
    nav {
      margin: 0 auto;
      // max-width: 960px;

      .logo {
        font-size: 1.8em;
        letter-spacing: 3px;
      }
      div {
        ul {
          li {
            padding-right: 2em;
          }
        }
      
    }
  }
}

/* flash */

.notice {
  padding: 0.6rem 0.4rem;
  margin-bottom: 0;
  text-align: center;
  color: rgba(69, 165, 56, 0.918);;
  background-color: #a2db9683;
  border: 1px solid rgba(64, 221, 59, 0.733);
  border-radius: 0;

}
.alert {
  padding: 0.6rem 0.4rem;
  margin-bottom: 0;
  text-align: center;
  color: rgba(206, 96, 69, 0.918);;
  background-color: #f3a5a583;
  border: 1px solid rgba(221, 59, 59, 0.733);
  border-radius: 0;
}


/* container */

#container {
  padding: 2em 0;


/* form */

  .form-container {
    background: #fff;
    padding: 2em 3em;
    max-width: 540px;
    margin: 0 auto;
    box-shadow: 0 0 0.5em #c0c0c0;
    border-radius: 2px;
    h1 {
      font-size:1.8em;
      color:darken(#e5e5e5, 56%);
      margin-bottom: .9em;
    }
    #error_explanation {
      h2 {
        margin-bottom: 1em;
        font-size: 1em;
        padding: 0.6rem 0.4rem;
        color: rgba(206, 96, 69, 0.918);;
        background-color: #f3a5a583;
        border: 1px solid rgba(221, 59, 59, 0.733);
        border-radius: 0.25rem;
      }
      ul {
        li {
          margin-left: 1em;;
          font-size: 1em;
          color: #f33;
        }
      }
    }
    p {
      font-size: 0.9em;
      color: rgb(112, 112, 112);
    }
    hr {
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: #e5e5e5;
    }
    .button {
      margin: 8px 0;
    }
    form {
      div {
        color: rgb(133, 131, 131);
        &.field {
          margin-bottom: 1.1em;
        }
        input {
          display: block;
          box-sizing: border-box;
          width: 100%;
          outline: none;
          margin:0;
         }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          background: #fff;
          border: 1px solid #dbdbdb;
          font-size: 1em;
          letter-spacing: 0.04em;
          padding: .2em .3em;
          border-radius: 2px;
          color: #333;
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
        background: #fff
        }
        input[type="submit"] {
          width: 50%;
          display: block;
          //font-size: 1.1em;
          //line-height: 1em;
          margin:1.7em auto 1em;
          outline: none;
          //padding: .7em 0;
          //text-shadow: 0 0.5px #57a04b;
        }
        input[type="checkbox"] {
          display: inline-block;
          width: 1em;
        }
        label{
          margin-bottom: 0;
          font-size: 15px;
          padding: 0.5px 3px;
          font-weight: 400;
          background-color: rgba(255,255,255,0);
          @include transition(color .3s, top .3s, background-color .8s);
          &.floatLabel{
            top: -11px;
            background-color: rgba(255,255,255,0.8);
            font-size: 14px;
          }
        }
        small {
          padding-left: .5em;
          color: #65b7d3;
          &.red {
            color: red;
            font-weight: bold;
          }
        }
        p {
          img {
            padding: .5em 0;
          }
        }
      }
      &.button_to {
        font-size: 1em;
        border-radius: 0.25rem;
        border: 1px solid #cc4a4a;
        line-height: 1.5;
        color: #fff;
        width: 50%;
        margin: 0 auto 1em;
        display: block;
        text-align: center;
        input {
          padding: 0.375rem 0.75rem;
          background-color: #cc4a4a;
          width: 100%;
          transition: background-color 0.2s;
          &:hover {
            background-color: #b13232;
          }
        }
      }
      
    }

  }
}


/* Users index */

.users {
  margin: 1.5em 0;
  list-style: none;
  li {
    padding-right: 8px;
    padding-left: 8px;
    background-color: transparent;
    .user-container {
      color: rgb(112, 112, 112);
      padding: 0.8em 0.7em;
      margin: 0.6em 0;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.25);
      position: relative;
      transition: all 0.3s ease 0s;
      z-index: 1;
      pointer-events: none;
      &:hover {
        box-shadow: 0 3px 15px rgba(0,0,0,0.45);
          transform: translateY(-0.1875em);
      }
      a {
        position: absolute;
        top: 0px;
        left: 0px;
        height:100%;
        width: 100%;
        text-decoration: none;
        text-indent:-999px;
        z-index: 2;
        pointer-events: auto;
      }
      .nickname {
        position: absolute;
        top: 10px; 
        left: 90px;
        font-size: 1.2em;
        color: #2499cf;
      }
      .follow {
        position: absolute;
        bottom: 10px;
        left: 90px;
        font-size: 0.95em;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .users {
    li {
      .user-container {
        margin: 0.4em 0;
        padding: 0.4em;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }
      p {
        //display: inline-block;
        font-size: 0.8em;
      }
    }
  }
}


/* pagination */

.pagination {
  margin-top: 1em;
  justify-content: center;
  .page-item {
    padding-right: 6px;
  }
  >.page-item>.page-link {
    border: none;
    //border: 3px solid #f2f2f2;
    color: rgb(112, 112, 112);
  }
  >.page-item>.page-link:hover {
    color: rgb(15, 15, 15);
  }
  >.active>.page-link {
    background-color: #93c9ff;
    color: white;
  }
  >.active>.page-link:hover {
    background-color: #6ab3fc;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .pagination {
    .page-item {
      padding-right: 2px;
      .page-link {
        padding: 0.4rem 0.6rem;
      }
    }
  }
}

// /*ページネーション自体のデザイン*/
// .pagination>li>a {          
//   border: none;     /*枠線をなくす*/
//   color: #696969;   /*文字の色を変える*/
// }

// /* 表示しているページ番号のデザイン */
// .pagination>.active>a {     
//   background: #93c9ff;     /*背景の色を変える*/
//   border-radius: 15px;     /*角を丸くする*/
// }

// /*ホバー時のデザイン*/
// .pagination>li>a:hover {        
//   border-radius: 15px;    /*角を丸くする*/
// }



/* footer */

footer {
  padding: 10px 0 15px 0;
  .logo {
    display: inline-block;
    color: white;
    font-size: 1.4em;
    letter-spacing: .1em;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
  p {
    color: white;
    vertical-align: middle;
    font-weight: lighter;
    font-size: 0.9em;
  }
}


/* debug */

.debug_dump {
  clear: both;
  box-sizing: border-box;
  margin: 45px auto 0;
  width: 90%;
  padding: 1.5em 1.5em;
  background-color: whitesmoke;
  color: #474747;
  font-weight: 600;
  border: solid 1px silver;
  border-radius: 5px;
}