<p>下記URLをクリックし、パスワードを再設定してください。</p>

<p><%= edit_password_url(@resource, reset_password_token: @token, protocol: 'https') %></p>

<p>URLにアクセスし、パスワードを再設定するまでは、パスワードは変更されません。</p>

<p>※ もしお心当たりのない場合、本メールは破棄して頂けるようお願いいたします。</p>